body {
  font-family: Arial;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.container {
  background: white;
  width: 320px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button {
  width: 95%;
  padding: 10px;
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
